
.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #383838;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

.button-row, .button-row:pressed {
    -fx-border-color: #888888;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 0 0 0 0;

    -fx-pref-tile-height: 35;
    -fx-min-height: 35;
    -fx-max-height: 35;
    -fx-pref-tile-width: 70;
    -fx-min-width: 70;
    -fx-max-width: 70;
}
